@media only screen and (min-width: 450px) {
    /* Work with the header. */
    .headerFlex {
        flex-direction: row;
        align-items: center;
        margin: 0 2%;
    }
    .headerFlex h1 {
        font-size: 4vw;
        flex-grow: 1;
    }
    .headerFlex p {
        margin: 0;
        flex-grow: 1;
    }

    /* Form Classes */
    .formSbs {
        padding: .4rem;
    }

    /* Specify the homepage grid. */
    #homepageGrid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    column-gap: .5em;
    }
    .heroContainer {
        height: 200px;
        grid-column: 1/4;
    }
    #homepageEvents{
        height: 200px;
        grid-column: 1/3;
        grid-row: 5/6;
    }
    #homepageWeather {
        height: 200px;
        grid-column: 3/4;
        grid-row: 5/6;
    }
    #homepageNews {
        height: 200px;
        grid-column: 1/4;
    }
    #spotlight {
        flex-direction: row;
        justify-content: stretch;
        grid-column: 1/4;
    }
    #spot1 {
        margin: 2%;
        flex-grow: 1;
    }
    #spot2 {
        margin: 2%;
        flex-grow: 1;
    }
    #homepageJoin{
        display: block;
        grid-column: 1/4;
    }

    /* Set up the footer */
    .footerFlex {
        flex-direction: row;
        align-items: center;
    }

    /* Discover Page Grid */
    .discoverContainer {
        grid-template-columns: 1fr 1fr;
    }
    .discoverFigure img {
        filter: blur(1px) grayscale(75%);
        transition-duration: .5s;
    }
    .discoverFigure img:hover {
        filter: none;
        max-width: 93%;
    }

    /* Directory Page */
    .table {
        font-size: 1rem;
    }
}